page-select-driver {
  .truck-type{
    margin-bottom:0;
    padding-bottom: 0;
    margin-top:0;
  }

  .truck-plate{
    margin-top:0;
    padding-top: 0;
    margin-bottom:0;
    padding-bottom: 0;
  }

  .truck-details{
    width:100%;
    // position: fixed;
    margin-bottom: 0px;
    margin-top:0;
    background:#556B2F;
    color: #ffffff;
    padding: 8px 16px;
  }

  ion-list-header{
    margin-bottom: 0;
  }
}
