<ion-header>

  <ion-navbar color="primary">
    <ion-title>Trucks Master List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let truck of trucks" (click)="showAssignDriverModal(truck.Id)">
      <ion-icon name="car" item-start></ion-icon>
      <h2>{{ truck.getTruckType() }}</h2>
      <h3>{{ truck.PlateNo }}</h3>
      <p>Unassigned</p>
      <button ion-button clear item-end>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
